In [94]:
import pandas as pd
import numpy as np

In [95]:
data=pd.read_csv(r'C:\Users\hp\Downloads\Bengaluru_House_Data.csv')

/**
In Python, the `r` preceding a string literal denotes a raw string literal. 

A raw string literal treats backslashes (`\`) as literal characters. This means that backslashes are not treated as escape characters. This can be particularly useful when dealing with file paths in Windows, where backslashes are used as directory separators.

In the line of code you provided:

```python
data=pd.read_csv(r'C:\Users\hp\Downloads\Bengaluru_House_Data.csv')
```

The `r` prefix ensures that the string `C:\Users\hp\Downloads\Bengaluru_House_Data.csv` is treated as a raw string literal. Without the `r`, you would need to escape each backslash in the file path like this:

```python
data=pd.read_csv('C:\\Users\\hp\\Downloads\\Bengaluru_House_Data.csv')
```

Using the raw string literal (`r'C:\Users\hp\Downloads\Bengaluru_House_Data.csv'`) makes the code cleaner and easier to read, especially when dealing with file paths containing many backslashes.

what is meant by literal characters?? answer:-
Literal characters are the actual characters in a string that represent themselves, without any special interpretation or meaning. In most programming languages, including Python, strings are composed of literal characters.

For example, in the string `"hello"`, each character `'h'`, `'e'`, `'l'`, `'l'`, and `'o'` is a literal character. These characters represent themselves and are not interpreted as anything else.

Literal characters are distinct from escape sequences, which are special sequences of characters that represent certain non-printable characters or have special meanings within a string. For example, in Python, `\n` represents a newline character and `\t` represents a tab character. 

In a raw string literal, like `r"hello\nworld"`, escape sequences are treated as literal characters, so the string contains the characters `'h'`, `'e'`, `'l'`, `'l'`, `'o'`, `'\'`, `'n'`, `'w'`, `'o'`, `'r'`, `'l'`, and `'d'`, rather than interpreting `\n` as a newline character.

In [96]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [97]:
data.shape

(13320, 9)

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [99]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

The `.value_counts()` method is commonly used in pandas, a popular data manipulation library in Python. It's typically used to count the occurrences of unique values in a Series or DataFrame column. 

Here's a basic usage example:

```python
import pandas as pd

# Create a pandas Series
data = pd.Series(['apple', 'banana', 'apple', 'orange', 'banana', 'banana'])

# Count the occurrences of each unique value
counts = data.value_counts()

print(counts)
```

Output:
```
banana    3
apple     2
orange    1
dtype: int64
```

In this example, `.value_counts()` counts the occurrences of each unique value in the `data` Series and returns a new Series where the unique values are the index and the corresponding counts are the values.

You can use `.value_counts()` on DataFrame columns as well, specifying the column name like this:

```python
# Create a pandas DataFrame
df = pd.DataFrame({'fruit': ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']})

# Count the occurrences of each unique value in the 'fruit' column
counts = df['fruit'].value_counts()

print(counts)
```

Output:
```
banana    3
apple     2
orange    1
Name: fruit, dtype: int64
```

This method is quite handy for understanding the distribution of values within a dataset.

In [100]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

The `.isna()` method in pandas is used to check for missing or NaN (Not a Number) values in a DataFrame or Series. It returns a boolean DataFrame or Series indicating where the missing values are present (True) and where they are not (False).

The `.sum()` method, when called after `.isna()`, calculates the sum of True values (which represent missing values) along each column in the DataFrame or Series. This effectively counts the number of missing values in each column.

Here's how you can use `.isna().sum()`:

```python
import pandas as pd

# Create a pandas DataFrame with missing values
df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 5, 6, None],
    'C': ['a', 'b', 'c', None]
})

# Check for missing values and calculate the sum of missing values in each column
missing_counts = df.isna().sum()

print(missing_counts)
```

Output:
```
A    1
B    2
C    1
dtype: int64
```

In this example, `missing_counts` will be a Series indicating the number of missing values in each column of the DataFrame `df`. Column 'A' has 1 missing value, column 'B' has 2 missing values, and column 'C' has 1 missing value.

This method is useful for quickly understanding the extent of missing data in your dataset.

In [101]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [102]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

The `.describe()` method in pandas is used to generate descriptive statistics about the DataFrame or Series. It provides summary statistics such as count, mean, standard deviation, minimum, maximum, and various percentiles for numeric data.

Here's how you can use `.describe()`:

```python
import pandas as pd

# Create a pandas DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}
df = pd.DataFrame(data)

# Generate descriptive statistics
summary = df.describe()

print(summary)
```

Output:
```
         A     B      C
count  5.0   5.0    5.0
mean   3.0  30.0  300.0
std    1.581139  15.811388  158.113883
min    1.0  10.0  100.0
25%    2.0  20.0  200.0
50%    3.0  30.0  300.0
75%    4.0  40.0  400.0
max    5.0  50.0  500.0
```

In this example, `summary` is a DataFrame containing the descriptive statistics for each numeric column ('A', 'B', and 'C') in the DataFrame `df`. The statistics include count, mean, standard deviation, minimum, 25th percentile (Q1), median (50th percentile), 75th percentile (Q3), and maximum.

`.describe()` is a quick and convenient way to get an overview of the distribution and central tendency of numerical data in a DataFrame.

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [104]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [105]:
data['location']=data['location'].fillna('Sarjapur  Road')

The .fillna() method in pandas is used to fill missing (NaN) values in a DataFrame or Series with specified values. This can be useful for data preprocessing or data imputation.

In [106]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [107]:
data['size']=data['size'].fillna('2 BHK')

In [108]:
data['bath']=data['bath'].fillna(data['bath'].median())

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [110]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

This chain of methods in pandas is used to perform string manipulation, specifically splitting strings, extracting elements, and converting them to integers.

Here's how each part works:

.str.split(): This method splits each string in a Series into substrings based on a specified delimiter (by default, whitespace is used as the delimiter). It returns a Series of lists containing the split substrings.
.str.get(0): After splitting the strings, this method retrieves the first element from each list of substrings. It returns a Series containing the first substring from each split.
.astype(int): Finally, this method converts the strings in the Series to integers.

In [111]:
data[data.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [112]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [114]:
def convertRange(x):
    temp=x.split('-')
    if len(temp)==2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [115]:
data['total_sqft']=data['total_sqft'].apply(convertRange)

In [116]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

# price per square feet

In [117]:
data['price_per_sqft']=(data['price']*100000) / data['total_sqft']

In [118]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [119]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [120]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    400
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [121]:
data['location']=data['location'].apply(lambda x:x.strip())
location_count=data['location'].value_counts()

removing any leading or trailing white spaces and then counting the occurrences of each location. This is a common preprocessing step in data analysis or machine learning tasks

In [122]:
location_count

location
Whitefield                        541
Sarjapur  Road                    400
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1294, dtype: int64

In [123]:
location_count_less_10=location_count[location_count<=10]
location_count_less_10

location
Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: count, Length: 1053, dtype: int64

In [47]:
data['location']=data['location'].apply(lambda x:'other' if x in location_count_less_10 else x)

using a lambda function to categorize locations as 'other' if they occur less than 10 times in your dataset. This can be useful for grouping less frequent locations together to reduce noise or complexity in your analysis.

What is lamda function:
    
    A lambda function in Python is a small anonymous function defined using the lambda keyword. It allows you to create a function without a name. Lambda functions can take any number of arguments, but they can only have one expression.

The general syntax of a lambda function is:

```python
lambda arguments: expression
```

Here's a simple example:

```python
add = lambda x, y: x + y
print(add(3, 5))  # Output: 8
```

In your code snippet, you're using a lambda function to apply a conditional operation to each element of the 'location' column. The lambda function takes an input 'x', checks if it's in the list of locations occurring less than 10 times, and if so, replaces it with 'other'.

In [125]:
data['location'].value_counts()

location
Whitefield                        541
Sarjapur  Road                    400
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1294, dtype: int64

In [126]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

# Outlier Detection and Removal

In [127]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [128]:
    (data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [129]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [130]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [131]:
data=data[((data['total_sqft']/data['bhk'])>=300)]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [132]:
data.shape

(12530, 7)

In [133]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [134]:
def remove_outliers_sqft(df):
    df_output=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        
        st=np.std(subdf.price_per_sqft)
        
        gen_df=subdf[(subdf.price_per_sqft>(m-st))&(subdf.price_per_sqft<=(m+st))]
        df_output=pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
data=remove_outliers_sqft(data)
data.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   9325.000000  9325.000000  9325.000000  9325.000000     9325.000000
mean    1509.659468     2.460912    94.458732     2.559893     5725.666764
std      898.988629     0.950344   110.663161     0.849193     2532.611714
min      300.000000     1.000000    10.000000     1.000000     1250.000000
25%     1110.000000     2.000000    49.000000     2.000000     4260.465116
50%     1288.000000     2.000000    67.000000     2.000000     5188.679245
75%     1650.000000     3.000000   100.000000     3.000000     6405.352480
max    30400.000000    14.000000  2912.000000    10.000000    35000.000000

In [139]:
def bhk_outlier_remover(df):
    exclude_indices=np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk]={
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [140]:
data=bhk_outlier_remover(data)

In [141]:
data.shape

(7265, 7)

In [142]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block BEL Layout,3 BHK,1540.0,3.0,85.00,3,5519.480519
1,1st Block HBR Layout,1 BHK,600.0,1.0,45.00,1,7500.000000
2,1st Block HBR Layout,4 BHK,3150.0,4.0,150.00,4,4761.904762
3,1st Block HRBR Layout,3 BHK,2300.0,3.0,80.00,3,3478.260870
4,1st Block HRBR Layout,2 BHK,1250.0,2.0,67.00,2,5360.000000
...,...,...,...,...,...,...,...
9320,manyata park,3 BHK,1780.0,3.0,84.83,3,4765.730337
9321,south,3 Bedroom,2400.0,2.0,480.00,3,20000.000000
9322,tc.palya,2 Bedroom,880.0,2.0,48.00,2,5454.545455
9323,tc.palya,2 Bedroom,1000.0,2.0,55.00,2,5500.000000
9324,tc.palya,3 Bedroom,1400.0,2.0,78.00,3,5571.428571

In [143]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [144]:
data.head()

                location  total_sqft  bath  price  bhk
0   1st Block BEL Layout      1540.0   3.0   85.0    3
1   1st Block HBR Layout       600.0   1.0   45.0    1
2   1st Block HBR Layout      3150.0   4.0  150.0    4
3  1st Block HRBR Layout      2300.0   3.0   80.0    3
4  1st Block HRBR Layout      1250.0   2.0   67.0    2

In [145]:
data.isna().sum()

location      0
total_sqft    0
bath          0
price         0
bhk           0
dtype: int64

In [146]:
data.to_csv("Cleaned_data.csv")

In [147]:
X=data.drop(columns=['price'])
y=data['price']

In [67]:
from sklearn.model_selection import train_test_split 
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [68]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [69]:
print(X_train.shape)
print(X_test.shape)
X_train

(5888, 4)
(1472, 4)

                   location  total_sqft  bath  bhk
10044                 other       660.0   2.0    2
9216                  other      1200.0   4.0    4
3157            Hennur Road      1445.0   2.0    3
4844   Lakshminarayana Pura      1200.0   2.0    2
1       1st Block Jayanagar      1630.0   3.0    3
...                     ...         ...   ...  ...
6062               Sarjapur      1175.0   2.0    2
3985              Kambipura       883.0   2.0    2
2007        Electronic City      1575.0   3.0    3
3197                  Hoodi       706.0   1.0    1
3342              Hosa Road      1243.0   2.0    2

[5888 rows x 4 columns]

In [70]:
column_trans=make_column_transformer((OneHotEncoder(sparse_output=False),['location',]),
                                    remainder='passthrough')

In [71]:
scaler=StandardScaler()

In [72]:
lr=LinearRegression()

In [73]:
X_train_df=pd.DataFrame(X_train)

In [74]:
pipe=make_pipeline(column_trans,scaler,lr)

In [75]:
pipe.fit(X_train_df,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [76]:
y_pred_lr=pipe.predict(X_test)

In [77]:
r2_score(y_test,y_pred_lr)

0.8296332921006168

## Applying Lasso

In [78]:
lasso=Lasso()

In [79]:
pipe=make_pipeline(column_trans,scaler,lasso)

In [80]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [81]:
y_pred_lasso=pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

0.8199181874762704

# Applying Ridge

In [82]:
ridge=Ridge()

In [83]:
pipe=make_pipeline(column_trans,scaler,ridge)

In [84]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [85]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1472 entries, 7154 to 3548
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    1472 non-null   object
 1   total_sqft  1472 non-null   float64
 2   bath        1472 non-null   float64
 3   bhk         1472 non-null   int32
dtypes: float64(2), int32(1), object(1)
memory usage: 51.8+ KB

In [86]:
y_pred_ridge=pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.8296651410179644

In [87]:
print("No regularization",r2_score(y_test,y_pred_lr))
print("Lasso",r2_score(y_test,y_pred_lasso))
print("Ridge",r2_score(y_test,y_pred_ridge))

No regularization 0.8296332921006168
Lasso 0.8199181874762704
Ridge 0.8296651410179644

In [88]:
import pickle

In [89]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))